{% extends "base.html" %}

{% block title %}To-Do App : Home{% endblock %}

{% block content %}
<!-- Navigation -->


<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
        <h2 class="font-weight-light">การติดโปร</h2>
        <p class="lead"> &ensp;  -GPA ต่ำกว่า 2.00</p>
        <h2 class="font-weight-light">การพ้นสภาพนักศึกษา</h2>
        <p class="lead">&ensp;  -GPA ต่ำกว่า 2.00 ติดต่อกัน 2 ภาคการศึกษา</p>
        <br> </br>
        <h2 class="font-weight-light">หมายเหตุ</h2>
        <p class="lead">&ensp; การพ้นสภาพนักศึกษา จะเริ่มพิจารณาตั่งแต่ปีที่ 1 ภาคการศึกษาที่ 2 เป็นต้นไป</p>
        <div style="height: 700px"></div>
      <p class="lead mb-0">คณะครุศาสตร์อุตสาหกรรมและเทคโนโลยี  </p>
    </div>
  </div>
</div>
{% endblock %}